<div class="vg-page page-about" id="about">
    <!-- information -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="img-place wow fadeInUp">
            <img src="../assets/img/profile-img.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 wow fadeInRight">
          <h1 class="font-weight-light">Jorge Alberto Jiménez Carrillo</h1>
          <h5 class="fg-theme mb-3">System Ingenier & Developer Full Stack</h5>
          <p class="text-muted">Full Stack Developer. Experience in all stages of the development life cycle of dynamic web projects. Strong backend experience.</p>
          <ul class="theme-list">
            <li>
              <b>Web site:</b> 
              <a href="http://www.jorgejimenezcr.com" target="_blank"> www.jorgejimenezcr.com </a>
            </li>
            <li>
              <b>Phone:</b> 
              <a href="https://api.whatsapp.com/send?phone=50661953152" target="_blank">
                +506 61953152
                <i class="fa fa-whatsapp" style="color: green"></i>
              </a>
            </li>
            <li><b>University Degree:</b> bachelor</li>
            <li><b>E-mail:</b> albertop2203@gmail.com</li>
            <li><b>From:</b> Costa Rica</li>
            <li><b>Lives In:</b> Alajuela, San Ramón</li>
            <li><b>Age:</b> 25</li>
            <li><b>Gender:</b> Male</li>
          </ul>
          <a href="https://www.facebook.com/profile.php?id=100007280987414" class="btn btn-theme-outline" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/in/jorge-alberto-jimenez-carrillo" class="btn btn-theme-outline" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=50661953152" class="btn btn-theme-outline" target="_blank">
            <i class="fa fa-whatsapp"></i>
          </a>
          <a href="https://tiktok.com/@jorge_jimenez_cr" class="btn btn-theme-outline" target="_blank">
            <img src="../assets/img/logo/tiktok.svg" alt="" width="17" height="21">
          </a>
          <a href="https://drive.google.com/file/d/1-R4EH8sMch4y-FYj6QvShsnkuGqz89lg/view?usp=sharing" class="btn btn-theme-outline" target="_blank">
            Download CV
            <i class="fa fa-cloud-download"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- skills -->
    <div class="container py-5">
      <h1 class="text-center font-weight-normal wow fadeIn">My Skills</h1>
      <div class="row py-3">
        <div class="col-md-3">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">FRONTEND</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">HTML5</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">CSS3</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">JAVASCRIPT</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">JQUERY</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">SASS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">BOOTSTRAP</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">VUEJS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 86%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">NODEJS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 96%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">ANGULARJS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">REACT</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">BACKEND</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">PHP</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">LARAVEL</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">JAVA</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">C#</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 89%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">C++</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">DATABASE</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">MYSQL</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">SQL SERVER</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">MONGODB</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">ORACLE</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">SQLITE</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">OTHER</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">STRIPE</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 96%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">AWS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">GIT</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">FLUTTER</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">PHPUNIT</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">JEST</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">SWAGGER</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">GOOGLE CLOUD</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 86%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- education and experience -->
    <div class="container pt-5">
      <div class="row">
        <!-- education -->
        <div class="col-md-6 wow fadeInRight">
          <h2 class="font-weight-normal">Education</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>MULTIPLE CERTIFICATES ON UDEMY</h5>
                <small class="fg-theme">Udemy</small>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>BACHELOR'S DEGREE IN INFORMATION SYSTEMS ENGINEERING</h5>
                <small class="fg-theme">Universidad Nacional de Costa Rica (UNA)</small>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>SOFTWARE QUALITY</h5>
                <small class="fg-theme">CENTIC Universidad Nacional de Costa Rica (UNA)</small>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>JAVA APPLICATION DEVELOPMENT FOR POINT OF SALE</h5>
                <small class="fg-theme">Universidad Nacional de Costa Rica (UNA), Excelencia académica</small>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>DIPLOMA IN COMPUTER APPLICATIONS PROGRAMMING</h5>
                <small class="fg-theme">Universidad Nacional de Costa Rica (UNA)</small>
              </div>
            </li>
          </ul>
        </div>
        <!-- experience -->
        <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
          <h2 class="font-weight-normal">Experience</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>SOFTWARE DEVELOPER</h5>
                <small class="fg-theme">Meteora HR Management</small>
                <p>
                  Developer front-end, back-end and database designer,
                  New development and maintenance
                </p>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>DEVELOPER FULL STACK</h5>
                <small class="fg-theme">Epic Studio</small>
                <p>
                  Development, migration and maintenance of the territorydezaguates.com web system
                  Development and maintenance of the alimentar.cr web system
                  Perform quality control testing to discover errors and optimize usability.
                  Complete detailed programming and development tasks for internal websites.
                </p>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>WEB DEVELOPER BY PRACTITIONER INTERNSHIP</h5>
                <small class="fg-theme">Epic Studio</small>
                <p>
                  Perform quality control testing to discover errors and optimize the usability of internal and client systems.
                  Development of the alimentar.cr web system
                </p>
              </div>
            </li>
            <li>
              <div class="title"></div>
              <div class="details">
                <h5>UNIVERSITY DEVELOPMENT</h5>
                <small class="fg-theme">Municipalidad de Nicoya (Nicoya City hall)</small>
                <p>
                  Internal vehicle control system, vehicle reservation and maintenance, internal budget control
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>