<div class="config">
    <div class="template-config">
        <!-- Settings -->
        <div class="d-block">
            <button class="btn btn-fab btn-sm" id="sideel" title="Settings"><span class="ti-settings"></span></button>
        </div>
    </div>
    <div class="set-menu">
        <p>Select Color</p>
        <div class="color-bar" data-toggle="selected">
            <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
            <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
            <span class="color-item bg-theme-green" data-class="theme-green"></span>
            <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
            <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
        </div>
    </div>
</div>