<div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Portfolio</div>
      </div>
      <h1 class="text-center font-weight-normal wow fadeInUp">See my work</h1>
      <div class="gridder my-3">
        <div class="grid-item apps wow zoomIn">
          <!-- https://alimento.dev.thisisepicstudio.com/ -->
          <div class="img-place" data-src="../assets/img/portfolio/tevixmd/tevixmd.png" data-fancybox data-caption="<h5 class='fg-theme'>TevixMD</h5> <p>Web App</p>">
            <img src="../assets/img/portfolio/tevixmd/tevixmd.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">TevixMD</h5>
            </div>
          </div>
        </div>
        <div class="grid-item apps wow zoomIn">
          <!-- https://alimento.dev.thisisepicstudio.com/ -->
          <div class="img-place" data-src="../assets/img/portfolio/alimentocr/alimento-cr-2.png" data-fancybox data-caption="<h5 class='fg-theme'>Alimento CR</h5> <p>Web App</p>">
            <img src="../assets/img/portfolio/alimentocr/alimento-cr-2.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Alimento CR</h5>
              <p>Buying dog food at home</p>
            </div>
          </div>
        </div>
        <div class="grid-item apps wow zoomIn">
          <!-- https://donate.territoriodezaguates.com/home -->
          <div class="img-place" data-src="../assets/img/portfolio/territorio-zaguate/territorio-zaguate-2.png" data-fancybox data-caption="<h5 class='fg-theme'>Territorio de Zaguate</h5> <p>Web App</p>">
            <img src="../assets/img/portfolio/territorio-zaguate/territorio-zaguate-2.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Territorio de Zaguate</h5>
              <p>Donation money for rescued dogs</p>
            </div>
          </div>
        </div>
        <div class="grid-item apps wow zoomIn">
          <!-- https://donate.territoriodezaguates.com/home -->
          <div class="img-place" data-src="../assets/img/portfolio/siscove/siscove-2.png" data-fancybox data-caption="<h5 class='fg-theme'>Siscove</h5> <p>Internal Web App</p>">
            <img src="../assets/img/portfolio/siscove/siscove-2.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Siscove</h5>
              <p>Internal vehicle control system, vehicle reservation and maintenance, internal budget control</p>
            </div>
          </div>
        </div>
      </div> <!-- End gridder -->
    </div>
  </div> 