.theme-red .bg-theme {
    background-color: #EF3724 !important;
}
.theme-red .fg-theme {
    color: #EF3724 !important;
}
.theme-red .btn-theme {
    background-color: #EF3724;
    color: #fff;
}
.theme-red .btn-theme:hover {
    background-color: #F04936;
    color: #fff;
}
.theme-red .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}
.theme-red .badge-subhead {
    background-color: rgba(239, 56, 36, 0.15);
    color: #EF3724;
}

.theme-red .page-about .img-place::before {
    border-color: #EF3724;
}
.theme-red .timeline li:first-child .title {
    background-color: #EF3724;
}
.theme-red .timeline li:first-child::before {
    background-color: #EF3724;
    box-shadow: 0 0 0 2px #EF3724;
}
.theme-purple .post-grid .post-category {
    color: #EF3724;
  }
.theme-red .btn-fab {
    background-color: #EF3724;
    color: #fff;
}
.theme-red .btn-fab:hover {
    background-color: #F04936;
    color: #fff;
}
.theme-red .progress {
    box-shadow: 0 0 0 2px #EF3724;
}
.theme-red .progress-bar {
    background-color: #EF3724;
}
.theme-red .theme-list li::before {
    border-color: #EF3724;
}
.bg-theme-red {
    background-color: #ef3724 !important;
}
.fg-theme-red {
    color: #ef3724 !important;
}

.theme-red .btn-theme-outline {
    color: #EF3724;
    box-shadow: 0 0 0 2px #EF3724;
}

.theme-red .btn-theme-outline:hover {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-theme-outline:focus {
    background-color: #EF3724;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}
