.theme-green .badge-subhead  {
  background-color: rgba(139, 198, 63, 0.15);
  color: #8cc63f;
}

.theme-green .page-home .badge {
  background-color: rgba(139, 198, 63, 0.15);
  color: #8cc63f;
}
.theme-green .page-about .img-place::before {
  border-color: #8cc63f;
}
.theme-green .timeline li:first-child .title {
  background-color: #8cc63f;
}
.theme-green .timeline li:first-child::before {
  background-color: #8cc63f;
  box-shadow: 0 0 0 2px #8cc63f;
}
.theme-green .post-grid .post-category {
  color: #8cc63f;
}
.bg-theme-green {
  background-color: #8cc63f !important;
}
.fg-theme-green {
  color: #8cc63f !important;
}
.theme-green .bg-theme {
  background-color: #8cc63f !important;
}
.theme-green .fg-theme {
  color: #8cc63f !important;
}
.theme-green .btn-theme {
  background-color: #8cc63f;
  color: #fff;
}
.theme-green .btn-theme:hover {
  background-color: #94c751;
  color: #fff;
}
.theme-green .btn-theme:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}

.theme-green .btn-fab {
    background-color: #8cc63f;
    color: #fff;
}
.theme-green .btn-fab:hover {
    background-color: #94c751;
    color: #fff;
}
.theme-green .progress {
    box-shadow: 0 0 0 2px #8cc63f;
}
.theme-green .progress-bar {
    background-color: #8cc63f;
}
.theme-green .theme-list li::before {
    border-color: #8cc63f;
}

.theme-green .btn-theme-outline {
  color: #8cc63f;
  box-shadow: 0 0 0 2px #8cc63f;
}

.theme-green .btn-theme-outline:hover {
  background-color: #8cc63f;
  color: #fff;
}

.theme-green .btn-theme-outline:focus {
  background-color: #8cc63f;
  color: #fff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}
