

:root {
  --theme-red: #ef3724;
  --theme-blue: #2960f7;
  --theme-green: #8cc63f;
  --theme-orange: #fd7e14;
  --theme-purple: #6f42c1;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYYT8L_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcYT8L_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}

.font-size-large {
  font-size: 21px;
}
.font-size-normal {
  font-size: 100%;
}
.font-size-small {
  font-size: 14px;
}

a:hover, a:active {
  color: #2184f5;
}

.img-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;height: 100%;
  overflow: hidden;
  z-index: 10;
}
.img-place > img {
  width: 100%;height: auto;
}

.btn-theme {
  padding: 10px 30px;
  margin: 5px;
  height: unset;
  background-color: #747474;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 0 0 2px #fff, 0 3px 9px rgba(0,0,0,0.3);
}
.btn-theme:hover, .btn-theme:active {
  background-color: #808080;
  color: #fff;
}
.btn-theme:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}
.btn-theme.no-shadow {
  box-shadow: none !important;
}

.form-control {
  height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
}
.form-control:focus {
  border-color: #80bdff;
}
.form-control::-webkit-input-placeholder {
  font-weight: 500;
  color: #9FA2AB; 
}
.form-control::-moz-placeholder {
  font-weight: 500;
  color: #9FA2AB;
}
.form-control::placeholder {
  font-weight: 500;
  color: #9FA2AB;
}

@-webkit-keyframes anim-effect-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
  }
}
@keyframes anim-effect-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
}
@-webkit-keyframes anim-effect-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
  }
}
@keyframes anim-effect-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  35%, 65% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

.badge-subhead {
  margin-bottom: 8px;
  padding: 10px 30px;
  background-color: rgba(116, 116, 116, 0.15);
  color: #747474;
  font-size: 14px;
  border-radius: 40px;
}
.vg-page {
  display: block;
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}